body {
  font-family: $fontFamilyHeadlines; // TODO: use the default font family here and assign the headlines font family explicetly.
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
