$shadowXS: rgba(20, 5, 60, 0.05) 0 1px 2px;
$shadowS: rgba(11, 36, 72, 0.1) 0 5px 20px, rgba(11, 36, 72, 0.05) 0 1px 2px;
$shadowL: rgba(11, 36, 72, 0.5) 0 10px 40px, rgba(4, 22, 57, 0.05) 0 1px 2px;
$shadowXL: rgba(4, 22, 57, 0.25) 0 20px 100px, rgba(4, 22, 57, 0.05) 0 1px 2px;
$shadowXLFilter: drop-shadow(0 20px 100px rgba(4, 22, 57, 0.25))
  drop-shadow(0 1px 2px rgba(4, 22, 57, 0.05));
$dropShadowNeutral: 0px 15px 30px rgba(33, 64, 92, 0.3);

$shadowSection: 0px 2px 5px rgba($colorAliceNight, 0.3);
$shadowInset: inset 0px 2px 10px rgba($colorAliceNight, 0.3);

// New standard shadows from Figma
$dropshadow: 0px 2px 5px rgba(145, 169, 192, 0.3);

/* Shadows */
$shadowLightXXS: 0px 1px 2px rgba(16, 24, 40, 0.05);
$shadowLightXS: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.04),
  0px 2px 4px -1px rgba(49, 51, 53, 0.2);
$shadowLightZ500: 0px 3px 8px rgba(0, 0, 0, 0.06),
  0px 20px 80px 8px rgba(0, 0, 0, 0.08);

$shadowLightDividerTop: 0px 3px 8px rgba(0, 0, 0, 0.06),
  0px 20px 80px 8px rgba(0, 0, 0, 0.08);
$shadowLightDividerBottom: 0px -1px 0px 0px #e3e4e6 inset;

$effectShadowsSM: 0px 1px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(49, 51, 53, 0.03), 0px 4px 8px -1px rgba(49, 51, 53, 0.06);
$effectShadowsXS: 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 4px -1px rgba(49, 51, 53, 0.08);
$effectShadowsXXS: 0px 0px 1px rgba(0, 0, 0, 0.03), 0px 1px 2px rgba(16, 24, 40, 0.05);

$effectShadowsLG: 0px 4px 4px rgba(75, 81, 88, 0.08), 0px 16px 32px rgba(75, 81, 88, 0.12);

$borderLightBottom: 0px -1px 0px 0px hsla(200, 5%, 88%, 1) inset;

$borderLightTop: 0px 1px 0px 0px hsla(200, 5%, 88%, 1) inset;
