@mixin info-icon($size: 20px) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border-radius: 50%;
  position: relative;
  border: 1px solid $colorSecondaryLight1;
  box-sizing: border-box;
  background: transparent;
  cursor: pointer;

  &--active {
    border: 1px solid $colorSecondaryDark1;
    background: $colorSecondaryDark1;

    :deep(svg) {
      color: $colorWhite;
    }
  }

  :deep(svg) {
    height: 50%;
    cursor: pointer;
    color: $colorAliceNight;
  }
}
